<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom ">
  
  <div>
    <a href="/index" class="d-flex align-items-center text-decoration-none fs-4 fw-bold title-link">{{ site.title }}</a>
      <span>{{ site.description }}</span>
  </div>

  <ul class="d-inline-flex mt-2 mt-md-0 ms-md-auto main-nav">
    <!-- <li><a href="/about" >about me</a></li> -->
    <li><a href="/pages/applications">applications</a></li>
    <li><a href="/pages/research">research</a></li>
    <li><a href="/pages/data_science">data-science</a></li>
    <!-- <li><a href="/cv">cv</a></li> -->
  </ul>

</header>